* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    border: 1px solid black;
    background: rgb(235, 244, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        
    }
    .nav-menu{
        text-align: center;
        flex-direction: column;
    }
    .nav-logo {
        margin-left: 5rem;
    }
    
    }
